.container {
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: stretch;
}

.leftBox,
.rightBox {
  min-height: auto;
  display: flex;
  flex-direction: column;
}

.leftBox,
.rightBox {
  width: 100%;
}

.RentFormBox {
  border: 1px solid var(--gray-light);
  border-radius: 10px;
  padding: 24px;
  margin-top: 24px;
}

.additionalBox {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.carInfoBox {
  margin-bottom: 32px;
}

input,
textarea {
  width: 100%;
  border-radius: 12px;
  padding: 12px 20px;
  background: var(--inputs);
}

input {
  height: 48px;
}

textarea {
  height: 88px;
  padding-bottom: 56px;
}

input::placeholder,
textarea::placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--gray);
}

@media (min-width: 768px) {
  .container {
    padding: 80px 32px;
    flex-direction: row;
    gap: 48px;
  }

  .leftBox,
  .rightBox {
    width: 50%;
  }

  .RentFormBox {
    margin-top: 32px;
    padding: 28px;
  }

  .additionalBox {
    gap: 72px;
  }

  .carInfoBox {
    margin-bottom: 48px;
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 104px 120px;
    gap: 72px;
  }

  .leftBox {
    width: 640px;
  }

  .rightBox {
    width: 488px;
  }

  .RentFormBox {
    padding: 32px;
    margin-top: 40px;
    height: 488px;
  }

  .additionalBox {
    gap: 110px;
  }

  .carInfoBox {
    margin-bottom: 73px;
  }
}
