.container {
  min-height: 100vh;
  background-image: url("/optimized Car.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: column;
  padding: 60px 20px;
  max-width: 600px;
  width: 100%;
}

.textBox {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  color: var(--white);
}

.text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: var(--white);
}

.button {
  border-radius: 12px;
  padding: 12px 24px;
  background-color: #3470ff;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background: var(--button-hover);
}

@media (min-width: 768px) {
  .box {
    padding: 100px 60px;
    max-width: 720px;
  }

  .title {
    font-size: 44px;
  }

  .text {
    font-size: 20px;
  }

  .button {
    padding: 14px 32px;
    font-size: 18px;
  }
}

@media (min-width: 1440px) {
  .box {
    padding: 436px 328px 60px 328px;
    max-width: none;
  }

  .title {
    font-size: 60px;
  }

  .text {
    font-size: 24px;
  }

  .button {
    padding: 16px 99px;
    font-size: 22px;
  }
}
