.container {
  width: 100%;
  height: 100vh;
  background-image: url("/optimized\ Car.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  display: flex;
  flex-direction: column;
  padding: 436px 328px 60px 328px;
}
.textBox {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}
.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  text-align: center;
  color: var(--white);
}
.text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: var(--white);
}
.button {
  border-radius: 12px;
  padding: 12px 99px;
  width: auto;
  height: 44px;
  background-color: #3470ff;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
