.mileageBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: var(--gray);
}
.inputFrom {
  border: none;
  border-right: 1px solid var(--gray-light);
  border-radius: 12px 0 0 12px;
  width: 160px;
  height: 44px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
  text-align: left;
  padding-left: 24px;
  background: var(--inputs);
}
.inputTo {
  border-radius: 0 12px 12px 0;
  width: 160px;
  height: 44px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
  padding-left: 24px;
  text-align: left;
  border: none;
  background: var(--inputs);
}
.inputFrom::placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
}
.inputTo::placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
}

.FromToBox {
  display: flex;
  gap: 0;
}

.inputWrapper {
  position: relative;
}

.clearBtn {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: var(--gray);
  padding: 0;
  z-index: 2;
}
