.button {
  margin-top: 80px;
  margin-bottom: 124px;
  border: 1px solid var(--button);
  border-radius: 12px;
  padding: 12px 38px;
  width: 156px;
  height: 44px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
  white-space: nowrap;
  text-align: center;
}
.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
