.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 84px 258px;
}

.carBrandBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.carPriceBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: var(--gray);
}

.button {
  margin-top: 24px;
  border-radius: 12px;
  width: 156px;
  height: 44px;
  background: var(--button);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);
}
