.container {
  position: relative;
  width: 196px;
}

.selectRentalPrice {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
  border-radius: 12px;
  padding: 12px 16px;
  width: 196px;
  height: 44px;
  text-align: left;
  margin: 0;
  background: var(--inputs);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
}

.svg {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%) rotate(180deg);
  cursor: pointer;
  pointer-events: all;
}
